<!DOCTYPE html>
<html>

<head>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.quickLinks {
	margin-right: 18em;
	border-style: solid;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 2em;
	color: white;
	font-size: 25px;
	text-align: center;
	width: 400px;
}

.quicklinks a:link {
	color: white;
}

.quicklinks a:visited {
	color: white;
}

.quicklinks a:hover {
	color: white;
}

.quicklinks a:active {
	color: white;
}

.panel-title {
	color: black;
}
</style>
</head>

<body>

	<h1 style = "color:white">Here is your Workout Regimen, {{username}}</h1>

	<div class="container col-md-5" ng-hide="regimen.length == 0">
		<a ui-sref-active="active">
			<button type="button" class="btn btn-info" ng-click="">Expand/Collapse
				All</button>
		</a>
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-target="#collapseSun" style="cursor: pointer;" ng-style="{'background-color':(day == 'Sunday'?'green':'white')}">
					<h4 class="panel-title">
						<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Sunday
					</h4>
				</div>
				<div id="collapseSun" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Exercise:</th>
									<th>Sets:</th>
									<th>Reps:</th>
									<th>Weight:</th>
									<th>Distance:</th>
									<th>Time:</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="exer in regimen | filter: { day: 'Sunday' }">
									<td>{{exercise.exercise.exercise_name}}</td>
									<td>{{exercise.sets}}</td>
									<td>{{exercise.reps}}</td>
									<td>{{exercise.weight}}</td>
									<td>{{exercise.distance}}</td>
									<td>{{exercise.time}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-target="#collapseMon" style="cursor: pointer;" ng-style="{'background-color':(day == 'Monday'?'green':'white')}">
					<h4 class="panel-title">
						<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Monday
					</h4>
				</div>
				<div id="collapseMon" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Exercise:</th>
									<th>Sets:</th>
									<th>Reps:</th>
									<th>Weight:</th>
									<th>Distance:</th>
									<th>Time:</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="exercise in regimen | filter: { day: 'Monday' }">
									<td>{{exercise.exercise.exercise_name}}</td>
									<td>{{exercise.sets}}</td>
									<td>{{exercise.reps}}</td>
									<td>{{exercise.weight}}</td>
									<td>{{exercise.distance}}</td>
									<td>{{exercise.time}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-target="#collapseTues" style="cursor: pointer;" ng-style="{'background-color':(day == 'Tuesday'?'green':'white')}">
					<h4 class="panel-title">
						<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Tuesday
					</h4>
				</div>
				<div id="collapseTues" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Exercise:</th>
									<th>Sets:</th>
									<th>Reps:</th>
									<th>Weight:</th>
									<th>Distance:</th>
									<th>Time:</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="exercise in regimen | filter: { day: 'Tuesday' }">
									<td>{{exercise.exercise.exercise_name}}</td>
									<td>{{exercise.sets}}</td>
									<td>{{exercise.reps}}</td>
									<td>{{exercise.weight}}</td>
									<td>{{exercise.distance}}</td>
									<td>{{exercise.time}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-target="#collapseWed" style="cursor: pointer;" ng-style="{'background-color':(day == 'Wednesday'?'green':'white')}">
					<h4 class="panel-title">
						<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Wednesday
					</h4>
				</div>
				<div id="collapseWed" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Exercise:</th>
									<th>Sets:</th>
									<th>Reps:</th>
									<th>Weight:</th>
									<th>Distance:</th>
									<th>Time:</th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="exercise in regimen | filter: { day: 'Wednesday' }">
									<td>{{exercise.exercise.exercise_name}}</td>
									<td>{{exercise.sets}}</td>
									<td>{{exercise.reps}}</td>
									<td>{{exercise.weight}}</td>
									<td>{{exercise.distance}}</td>
									<td>{{exercise.time}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-target="#collapseThurs" style="cursor: pointer;" ng-style="{'background-color':(day == 'Thursday'?'green':'white')}">
					<h4 class="panel-title">
						<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Thursday
					</h4>
				</div>
				<div id="collapseThurs" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Exercise:</th>
									<th>Sets:</th>
									<th>Reps:</th>
									<th>Weight:</th>
									<th>Distance:</th>
									<th>Time:</th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="exercise in regimen | filter: { day: 'Thursday' }">
									<td>{{exercise.exercise.exercise_name}}</td>
									<td>{{exercise.sets}}</td>
									<td>{{exercise.reps}}</td>
									<td>{{exercise.weight}}</td>
									<td>{{exercise.distance}}</td>
									<td>{{exercise.time}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-target="#collapseFri" style="cursor: pointer;" ng-style="{'background-color':(day == 'Friday'?'green':'white')}">
					<h4 class="panel-title">
						<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Friday
					</h4>
				</div>
				<div id="collapseFri" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Exercise:</th>
									<th>Sets:</th>
									<th>Reps:</th>
									<th>Weight:</th>
									<th>Distance:</th>
									<th>Time:</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="exercise in regimen | filter: { day: 'Friday' }">
									<td>{{exercise.exercise.exercise_name}}</td>
									<td>{{exercise.sets}}</td>
									<td>{{exercise.reps}}</td>
									<td>{{exercise.weight}}</td>
									<td>{{exercise.distance}}</td>
									<td>{{exercise.time}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading" data-toggle="collapse"
					data-target="#collapseSat" style="cursor: pointer;" ng-style="{'background-color':(day == 'Saturday'?'green':'white')}">
					<h4 class="panel-title">
						<span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Saturday
					</h4>
				</div>
				<div id="collapseSat" class="panel-collapse collapse">
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Exercise:</th>
									<th>Sets:</th>
									<th>Reps:</th>
									<th>Weight:</th>
									<th>Distance:</th>
									<th>Time:</th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="exercise in regimen | filter: { day: 'Saturday' }">
									<td>{{exercise.exercise.exercise_name}}</td>
									<td>{{exercise.sets}}</td>
									<td>{{exercise.reps}}</td>
									<td>{{exercise.weight}}</td>
									<td>{{exercise.distance}}</td>
									<td>{{exercise.time}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<a ui-sref-active="active">
			<button type="button" class="btn btn-info" ui-sref="CreateRegimen"
				ng-click="createRegimen()">Update Regimen</button>
		</a>
	</div>

	<h2 ng-hide="regimen.length != 0">No regimen found! Would you like
		to create a regimen?</h2>

	<a ui-sref-active="active">

		<button type="button" class="btn btn-info" ui-sref="CreateRegimen"
			ng-hide="regimen.length != 0" ng-click="createRegimen()">Create
			Regimen</button>
	</a>

	<div class="col-sm-offset-9 col-sm-5">
		<ul class="quickLinks">
			<h2>Quick Links</h2>
			<li ui-sref-active="active"><a ui-sref="History"> Workout
					History </a></li>
			<!--  put statego in active -->
			<li ui-sref-active="active"><a ui-sref="WorkoutHistory"> Add
					New Workout </a></li>
			<li ui-sref-active="active"><a ui-sref="Exercises"> Browse
					Exercises</a></li>
		</ul>
	</div>
</body>

</html>

<!--http://angular-ui.github.io/ui-calendar/-->