<html>
<head>
<link rel="stylesheet" type="text/css" href="workoutHistory.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<script type="text/javascript">
	$(function() {
		var $j = jQuery.noConflict();
		$j("#datepicker").datepicker();
	});
</script>
	<h1>Workout History</h1>


	<div style="text-align:right; margin-right: 30px" ui-view><h3>Exercise List</h3></div>






	<h3>Add new workout:</h3>
	<form ng-submit="wHC.addWorkoutToHistory()">
		<div style="margin-bottom: 20px;">
			Date: <input id="datepicker" type="text"
				value="10/1/2016">
		</div>

		<div class="dropdown" style="margin-bottom: 20px;">
			<button class="btn btn-primary dropdown-toggle" type="button"
				data-toggle="dropdown" ui-sref-active="active">
				Pick an Exercise! <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a ui-sref="WorkoutHistory.Exercises">ARMS</a></li>
				<li><a ui-sref="WorkoutHistory.Exercises">BACK</a></li>
				<li><a ui-sref="WorkoutHistory.Exercises">CHEST</a></li>
				<li><a ui-sref="WorkoutHistory.Exercises">CARDIO</a></li>
				<li><a ui-sref="WorkoutHistory.Exercises">SHOULDERS</a></li>
				<li><a ui-sref="WorkoutHistory.Exercises">TRICEPS</a></li>

			</ul>
		</div>
		<section id="weighted" style="margin-bottom: 20px;"
			ng-show="wHC.showWeightForm">
			<div style="float: left; margin-right: 20px;">
				<label for="weight">Weight (lbs)</label> <input id="weight"
					type="text" placeholder="30" ng-model="wHC.weight">
			</div>
			<div style="float: left; margin-right: 20px;">
				<label for="sets">Sets</label> <input id=sets type="text"
					placeholder="3" ng-model="wHC.sets">
			</div>
			<div>
				<label for="reps">Reps</label> <input id="reps" type="text"
					placeholder="8" ng-model="wHC.reps">
			</div>
		</section>
		<section id="cardio" style="margin-bottom: 20px;"
			ng-show="!wHC.showWeightForm">
			<div style="float: left; margin-right: 20px;">
				<label for="time">Time</label> <input id=time type="text"
					placeholder="" ng-model="wHC.time">
			</div>
			<div>
				<label for="distance">Distance</label> <input id="distance"
					type="text" placeholder="" ng-model="wHC.distance">
			</div>
		</section>


		<input
			ng-disabled="wHC.showWeightForm && (!wHC.weight || !wHC.sets || !wHC.reps) || !wHC.showWeightForm && (!wHC.time || !wHC.distance)"
			id="btnAdd" type="submit" value="Save Workout">
	</form>



	<ul ng-repeat=""></ul>


</body>
</html>